<!-- Interpolation  {{}} -->
<app-discount></app-discount>
   <!-- property binding  [attr] -->
<app-sale></app-sale>
<!-- event binding () -->
<app-best-product></app-best-product>
<!-- 2 way binding [()] with input HTML and ts -->
<app-order></app-order>
<!-- attribute directive [ngSomething] -->
<app-slogan></app-slogan>
<!-- structural directive *ngsomething  *ngIf -->
<app-specials></app-specials>
<!-- structural directive *ngsomething *ngFor  -->
<app-desserts></app-desserts>
<!-- if you dont want sepereate html ;  -->
<app-tip></app-tip>