<div class="box">
    <p> Pricing of {{item}}:  {{price | currency}}</p>
</div>


<!--  מקבלת וליו ועוד ארגומנטים שים לב הוליו זה מספר מצד שמאל לפייפ אבל הארגומנטיים בצד ימין אחרי נקודתיים -->


<!-- הפייפ מקבל מצד ימין את הפונקציה 
ומצד שמאל את הוליו
שאנחנו רוצים לשלוח עליה 
אנגולר לוקחת את הוליו מצד שמאל לפייפ ושולחת אותו לפונצקיה 
שהיא הפייפ
ומציגה ערך חדש שמתייצב פה -->

<!-- we made a transform pipe custom pipe that gets the value  so we sednging the price thats the vlaue to the pipe funciton and pipe funciton returns something else  -->